<form method="post" action="{{ path('medicament_delete', {'id': medicament.id}) }}" onsubmit="return confirm('Etes vous bien sur de vouloir supprimer ce médicament ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medicament.id) }}">
    <button class="btn btn-danger btn-need-marge">Supprimer</button>
</form>
