{% extends 'base.html.twig' %}

{% block title %}New Medicament{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('medicament_index') }}"><i class="fas fa-arrow-left"></i> Revenir à la liste</a>
    <br><br>

    <h1>Créer un nouveau Medicament</h1>

    {{ include('medicament/_form.html.twig') }}
{% endblock %}
