{% extends 'base.html.twig' %}

{% block title %}Gestion médicament | Accueil {% endblock %}

{% block body %}

<div class="main">
    <div class="graphique_gauche">
{#        <canvas id="myChart" width="400px" height="400px"></canvas>#}
        <canvas></canvas>
    </div>

    <div class="graphique_droite">

    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="/node_modules/chart.js/dist/chart.js"></script>
    <script src="/assets/js/chart.js"></script>

    <script>

    </script>
{% endblock %}
