{% extends 'base.html.twig' %}

{% block title %}Accueil ~ Gestion médicament{% endblock %}

{% block body %}

<div class="main">
    <div class="graphique_gauche">
        <h3>Les familles les plus utilisées</h3>
{#        <canvas id="myChart" width="400px" height="400px"></canvas>#}
        <canvas id="graphiqueGauche" aria-label="chart" role="img"></canvas>
    </div>

    <div class="graphique_droite">
        <h3>Les familles les plus utilisées</h3>
        <canvas id="graphiqueDroite" aria-label="chart" role="img"></canvas>
    </div>
</div>

    <hr style="margin: 20px 0 20px 0" >

<div>
    <h3>Medicament le plus prescrit</h3>


</div>

{% endblock %}

{% block javascripts %}
    <script src="/node_modules/chart.js/dist/chart.js"></script>
    <script src="/assets/js/chart.js"></script>

    <script>

    </script>
{% endblock %}
