{% extends 'base.html.twig' %}

{% block title %}Accueil ~ Gestion médicament{% endblock %}

{% block activeH %}active{% endblock %}

{% block stylesheets %}
    <link href="/assets/css/annimations.css" rel="stylesheet">
{%  endblock %}

{% block body %}

    <div class="main">
        <div class="graphique_gauche"><h3>Nombre de médicament par famille</h3></div>
        <div class="graphique_droite"><h3>Nombre de prescription par type individu</h3></div>
    </div>
<div class="main">
    <div class="graphique_gauche">
        <canvas id="graphiqueGauche" aria-label="chart" role="img"></canvas>
    </div>

    <div class="graphique_droite">
        <canvas id="graphiqueDroite" aria-label="chart" role="img"></canvas>
    </div>
</div>

    <hr style="margin: 5% 0 1% 0" >

<div class="infosP">
    <div class="contentPMPresc">
    <h5 class="txtPMPresc"><span class="animationSpan">Medicament le plus prescrit</span></h5>
    <h3 class="txtPMPresc"><span class="animationSpan">Nom générique</span></h3>
    </div>

    <div class="contentPMPresc">
        <h5 class="txtPMPresc"><span class="animationSpan">Medicament le moins prescrit</span></h5>
        <h3 class="txtPMPresc"><span class="animationSpan">Nom générique</span></h3>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="/node_modules/chart.js/dist/chart.js"></script>

    <script>
        let libelleTabMachin=[];
        let totalTab=[];

        {% for prescription in fonctionDoughnut %}
            libelleTabMachin.push('{{ prescription['libelle'] }}');
            totalTab.push('{{ prescription['total'] }}');
        {% endfor %}

    </script>
    <script src="/assets/js/chart.js"></script>
{% endblock %}
