<form method="post" action="{{ path('type_individu_delete', {'id': type_individu.id}) }}" onsubmit="return confirm('Etes vous bien sûr de vouloir supprimer ce médicament ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_individu.id) }}">
    <button class="btn btn-danger btn-need-marge">Supprimer</button>
</form>
