{% extends 'base.html.twig' %}

{% block title %}Edit TypeIndividu{% endblock %}

{% block activeTY %}active{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('type_individu_index') }}"><i class="fas fa-arrow-left"></i> Revenir à la liste</a>
    <br><br>
    <h1>Modifier le Type Individu</h1>

    {{ include('type_individu/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
{#        {{ include('type_individu/_delete_form.html.twig') }}#}
    </div>
{% endblock %}
