{% extends 'base.html.twig' %}

{% block title %}New TypeIndividu{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('type_individu_index') }}"><i class="fas fa-arrow-left"></i> Revenir à la liste</a>
    <br><br>
    <h1>Créer un nouveau Type Individu</h1>

    {{ include('type_individu/_form.html.twig') }}
{% endblock %}
