{% extends 'base.html.twig' %}

{% block title %}TypeIndividu{% endblock %}

{% block activeTY %}active{% endblock %}

{% block body %}
    <div class="header-table">
        <h1>Type Individu</h1>
    </div>

    <br>
    <div class="sup_table">
        <a class="btn btn-secondary" href="{{ path('type_individu_edit', {'id': type_individu.id}) }}">Modifier</a>
        {#            {{ include('type_individu/_delete_form.html.twig') }}#}
    </div>
    <table class="table show-table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_individu.id }}</td>
            </tr>
            <tr>
                <th>Nom du type d'individu</th>
                <td>{{ type_individu.tinLibelle }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
