<form method="post" action="{{ path('prescrire_delete', {'id': prescrire.id}) }}" onsubmit="return confirm('Etes vous bien sûr de vouloir supprimer ce médicament ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prescrire.id) }}">
    <button class="btn btn-danger btn-need-marge">Supprimer</button>
</form>
