<form method="post" action="{{ path('prescrire_delete', {'id': prescrire[0].id}) }}" onsubmit="return confirm('Etes vous bien sûr de vouloir supprimer cette prescription ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prescrire[0].id) }}">
    <button class="btn btn-danger btn-need-marge">Supprimer</button>
</form>
