.utveckling {
    animation: Utveckling 6.5s;
    stroke-width: 10;
    fill: none;
    stroke: #5f7cfb;
}
.pil {
    animation: Pil 6.5s;
}
.bock {
    animation: Bock 6.5s;
    fill: none;
    stroke-dasharray: 31 82;
    stroke-dasharray: none;
    stroke-dashoffset: -47px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-width: 4;
    stroke: #ffffff;
}
.confirm_add{
    text-align: center;
}

@keyframes Pil {
    0% {
        transform: translateY(0);
    }
    6% {
        transform: translateY(-65px);
    }
    62.49% {
        transform: translateY(-65px);
    }
    62.5% {
        transform: translateY(65px);
    }
    68.5% {
        transform: translateY(0px);
    }
}
@keyframes Utveckling {
    0% {
        stroke-width: 10;
    }
    3.1% {
        stroke-width: 10;
        stroke-dasharray: 1 179;
    }
    3.6% {
        stroke-width: 25;
        stroke-dasharray: 1 179;
    }
    28% {
        stroke-width: 25;
        stroke-dasharray: 174 179;
    }
    34% {
        stroke-width: 10;
        stroke-dasharray: 179 179;
    }
    100% {
        stroke-width: 10;
        stroke-dasharray: 179 179;
    }
}
@keyframes Bock {
    0% {
        stroke-dasharray: 1 82;
        stroke-dashoffset: 0px;
    }
    29% {
        stroke-dasharray: 1 82;
        stroke-dashoffset: 0px;
    }
    35% {
        stroke-dasharray: 31 82;
        stroke-dashoffset: -50px;
    }
    62% {
        stroke-dasharray: 31 82;
        stroke-dashoffset: -50px;
        transform: translateY(0px);
    }
    68% {
        stroke-dasharray: 31 82;
        stroke-dashoffset: -50px;
        transform: translateY(-65px);
    }
    100% {
        stroke-dasharray: 31 82;
        stroke-dashoffset: -50px;
        transform: translateY(-65px);
    }
}

/*Animation apparition médicament plus et moins prescrit*/
.txtPMPresc {
    color: #222;
    color: transparent;
    font-size: 0px;
}
.txtPMPresc .animationSpan {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: clamp(20px, 3vw, 30px);
}
.txtPMPresc .animationSpan::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}
.txtPMPresc:nth-child(1) {
    font-weight: 200;
    animation: txt-appearance 0s 1s forwards;
}
.txtPMPresc:nth-child(2) {
    font-weight: bold;
    animation: txt-appearance 0s 1.25s forwards;
}
.txtPMPresc:nth-child(1) .animationSpan::after {
    background: rgb(194, 243, 251);
    animation: slide-in 0.75s ease-out forwards,
    slide-out 0.75s 1s ease-out forwards;
}
.txtPMPresc:nth-child(2) .animationSpan::after {
    background: rgb(77, 231, 255);
    animation: slide-in 0.75s 0.3s ease-out forwards,
    slide-out 0.75s 1.3s ease-out forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-out {
    100% {
        transform: translateX(103%)
    }
}
@keyframes txt-appearance {
    100% {
        color: #222;
    }
}