*{
    font-family: "Arial", serif;
}
#body{
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#navbar{
    padding: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 5px 20px 0;
    background-color: #9bffeb;
}
#navbarNav{
    justify-content: center;
}
#imgMed, #logout{
    font-size: 30px;
    width: 50px;
}
.navbar-brand{
    font-family: "Arial Black", serif;
}
.nav-link{
    font-family: "Arial Black", serif;
}
.content{
    margin: 50px;
}
.icon_index{
    color: black;
    width: 30px;
}
.icon_index:hover{
    color: darkgreen;
}
#tr:hover{
    background-color: #B7DBB0;
}

#versions{
    z-index: 50;
    bottom: 0;
    position: fixed;
    color: #0000009e;
    font-family: "Arial Black", serif;
}

.list-btn{
    margin-top: 30px;
    display: flex;
}
.btn-need-marge{
    margin-left: 50px;
}