@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}
#body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}
#navbar{
    padding: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 5px 20px 0;
    background-color: #9bffeb;
}
#navbarNav{
    justify-content: center;
}
#imgMed, #logout{
    font-size: 30px;
    width: 50px;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight : bold;
}
.nav-link{
    font-family: 'Ubuntu', sans-serif;
    font-weight : bold;
}
.content{
    margin: 50px;
}
.icon_index{
    color: black;
    width: 30px;
}
.icon_index:hover{
    color: darkgreen;
}
.tr:hover{
    background-color: #B7DBB0;
}

#versions{
    z-index: 50;
    bottom: 0;
    position: fixed;
    color: #0000009e;
    font-family: 'Ubuntu', sans-serif;
    font-weight : bold;
}

.list-btn{
    margin-top: 30px;
    display: flex;
}
.btn-need-marge{
    margin-left: 50px;
}

/*Formulaires*/
form{
    margin-right: 20%;
    margin-left: 20%;
}
.form-group{
    margin-bottom: 10px;
}