@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}
#body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}
#navbar{
    padding: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 5px 20px -5px;
    background-color: #c2f3fb;
}
#navbarNav{
    justify-content: center;
}
#imgMed, #logout{
    font-size: 30px;
    width: 50px;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight : bold;
}
.nav-link{
    font-family: 'Ubuntu', sans-serif;
    font-weight : bold;
}
.content{
    margin: 50px;
}
.icon_index, .icon_nav{
    color: black;
    width: 30px;
}
.icon_index_dark{
    color: white;
}
.icon_index:hover , .icon_nav:hover{
    color: darkgreen;
}
.tr:hover{
    background-color: #B7DBB0;
}

#versions{
    z-index: 50;
    bottom: 0;
    position: fixed;
    color: #0000009e;
    font-family: 'Ubuntu', sans-serif;
    font-weight : bold;
}

.btn-need-marge{
    margin-left: 50px;
}

/*Tableaux*/
.table{
    background-color: white;
    box-shadow: 0 0 20px 0 #8f8f8f;
}
#darkMode{
    border: none;
    box-shadow: 0 0 20px 0 #8f8f8f;
}
.header-table{
    display: flex;
    justify-content: center;
}
.sup_table{
    display: flex;
    justify-content: space-between;
}

.btn-success{
    align-self: center;
}

/*Formulaires*/
.form{
    margin-right: 30%;
    margin-left: 30%;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 20px 0 #8f8f8f;
}
.form-group{
    margin-bottom: 15px;
}

/*Show*/
.show-table{

}