<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="/assets/images/ico_médic.png">

        <script src="https://kit.fontawesome.com/1999efdd56.js" crossorigin="anonymous"></script>

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link href="/assets/css/style.css" rel="stylesheet">
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% endblock %}

    </head>
    <body id="body">
        <div class="header">
            <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    {% if app.user%}
                        {% if app.user.roles[0] == "ROLE_ADMIN" %}<i id="imgMed" class="fas fa-user-md"></i>{% else %}<i id="imgMed" class="fas fa-user"></i>{% endif %} <a class="navbar-brand" href="/">{{ app.user.email }} </a>
                    {% else %} <i id="imgMed" class="fas fa-user-lock"></i> <a class="navbar-brand" href="/login">Se connecter </a> {% endif %}

{#                    {% if app.user %} #}
{#                        <a class="navbar-brand" href="/">{{ app.user.email }} </a> {% else %} <a class="navbar-brand" href="/login">Se connecter </a> #}
{#                    {% endif %}#}

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/"><i class="icon_index fas fa-home"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/medicament">Médicament</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/type/individu/">Type individu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/prescrire">Prescrire</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% if app.user %}<a href="/logout"><i id="logout" class="icon_index fas fa-sign-out-alt"></i></a>{% endif %}
            </nav>
        </div>

        <div class="content">
            {% block body %}{% endblock %}
        </div>

        <div id="versions">Version Beta 0.2.5</div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/assets/js/annimation.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}

    <script>
        $(
            function (){
                // annimBack();
            }
        )
    </script>

    </body>
</html>
