{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 404 - Page non existante</h1>

    <p>
        la page sur laquel vous essayez de vous rendre n'existe pas essayez de <a href="{{ path('home') }}">revenir à l'accueil</a>.
    </p>
{% endblock %}